body {
  font-family: NexaBook, sans-serif;
  margin: 0;
  background-color: #ff0;
//  background-color: #fff;

  text-align: center;
}

h1,h2,h3,h4,h5,h6,strong {
  font-family: NexaBlack;
  font-weight: normal;
}

// flipclock.js over-rides
.flip-clock-wrapper {
  width: auto;
  position: fixed;
  top: 0;
  right: 0;
}

.flip-clock-label {
  display: none;
}

// slide styling
.slides {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    visibility: visible;

    &.new {
      visibility: hidden;
    }

    .inner {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
    }
  }
}

// image sizing and positioning
.pic {
  background: no-repeat center bottom;
  background-size: cover;
  height: 100%;

  &.sundial {
    background-image: url(/images/sundial.jpg);
  }
  &.train {
    background-image: url(/images/train.jpg);
  }
}