---
layout: 'layout'
---

ol.slides
    li.new
        .inner.s1
            h1 12 things I've learned about web development
            h2 22nd January 2014
            h2 @fulljames
            .badger
        .inner.s2.sub
            h1 11<s>12</s> things I've learned about web development
            h2 22nd January 2014
            h2 @fulljames
            .badger
    li.new
        .pic.s19.wreck
        .inner.s20.sub
            h1 11. Don't build your slides in HTML
    li.new
        .pic.s5.heston
        .inner.s6.sub
            h1 10. The best time to learn is now
    li.new
        .inner.s7
            p Language overlap over time graph
        .inner.s8.sub
            h1 9. Relax about the syntax
    li.new
        .pic.s9.fort
        .inner.s10.sub
            h1 8. It's okay to have comfort blankets
    li.new
        .pic.s3.sundial
        .inner.s4.sub
            h1 7. Time has a habit of vanishing
    li.new
        .pic.s11.factory
        .inner.s12.sub
            h1 6. Automate all the things
    li.new
        .pic.s13.train
        .inner.s14.sub
            h1 5. There is always a way
    li.new
        .pic.s17.eyes
        .inner.s18.sub
            h1 3. Get another pair of eyes on it
    li.new
        .pic.s15.dog
        .inner.s16.sub
            h1 4. You are not an imposter
    li.new
        .pic.s21.money
        .inner.s22.sub
            h1 2. Don't get acquired
    li.new
        .inner.s23
            p Career interest graph
        .inner.s24.sub
            h1 1. If you don't love it, don't do it

.start: strong GO
.stop
    .inner
        h1 Thank you
        h2 @fulljames
        .badger
.clock