---
layout: 'layout'
---

.clock

ol.slides
    li.new 1 Intro
    li.new 2 Update title
    li.new 3 Batemans pic
    li.new 4 Its later than you think
    li.new 5 Flash-related pic
    li.new 6 Get on and learn
    li.new 7 Language overlap over time graph
    li.new 8 Relax about the syntax
    li.new 9 Blanket fort
    li.new 10 Its okay to have comfort blankets
    li.new 11 Robot disaster (Edward Scissorhands?)
    li.new 12 Automate all the things
    li.new 13 Barmouth train pic
    li.new 14 There is always a way
    li.new 15 Burnout pic
    li.new 16 Burnout / Imposter syndrome
    li.new 17 Collaboration pic
    li.new 18 Second set of eyes
    li.new 19 No pic
    li.new 20 Learn how to say no
    li.new 21 Buyout pic
    li.new 22 Don't get acquired
    li.new 23 Career interest graph
    li.new 24 If you don't love it, don't do it (thanks and contacts)