---
layout: 'layout'
---

ol.slides
    li.new
        .inner.s1
            h1 12 things I've learned about web development
            h2 22nd January 2014
        .inner.s2.sub
            h1 11<s>12</s> things I've learned about web development
            h2 22nd January 2014
    li.new
        .pic.s3.sundial
        .inner.s4.sub
            p 4 Its later than you think
    li.s5.new
        .inner
            p 5 Flash-related pic
    li.s6.new
        .inner
            p 6 Get on and learn
    li.s7.new
        .inner
            p 7 Language overlap over time graph
    li.s8.new
        .inner
            p 8 Relax about the syntax
    li.s9.new
        .inner
            p 9 Blanket fort
    li.s10.new
        .inner
            p 10 Its okay to have comfort blankets
    li.s11.new
        .inner
            p 11 Robot disaster (Edward Scissorhands?)
    li.s12.new
        .inner
            p 12 Automate all the things
    li.s13.new: .pic.train
    li.s14.new
        .inner
            p 14 There is always a way
    li.s15.new
        .inner
            p 15 Burnout pic
    li.s16.new
        .inner
            p 16 Burnout / Imposter syndrome
    li.s17.new
        .inner
            p 17 Collaboration pic
    li.s18.new
        .inner
            p 18 Second set of eyes
    li.s19.new
        .inner
            p 19 No pic
    li.s20.new
        .inner
            p 20 Learn how to say no
    li.s21.new
        .inner
            p 21 Buyout pic
    li.s22.new
        .inner
            p 22 Don't get acquired
    li.s23.new
        .inner
            p 23 Career interest graph
    li.s24.new
        .inner
            p 24 If you don't love it, don't do it (thanks and contacts)


.clock