!!! 5
html
    head
        title 12d
        meta(name="viewport",content="width=device-width,initial-scale=1,user-scalable=no")
        != getBlock("styles").add(["css/style.css"]).toHTML()

    body

        != content